In [4]:
%load_ext autoreload
%autoreload 2

# New approach

1. Select k nearest neighbors N(i; x)
    - Items most similar to i, that are rated by x
2. estimate rating r_xi as weighted average: 
    - check slide 30 - T10

to test this approach, I'll try to predict the first line of the activity_train

$$
O14842, CHEMBL2022243, 4
$$

In [5]:
import pandas as pd
from sim import *

In [2]:
ACTIVITY_TRAIN = pd.read_csv('./activity_train.csv', names=['uniprot_id', 'mol_id', 'activity'])
ACTIVITY_TRAIN

       uniprot_id          mol_id  activity
0          O14842   CHEMBL2022244         6
1          O14842   CHEMBL2022245         2
2          O14842   CHEMBL2022246         1
3          O14842   CHEMBL2022247         4
4          O14842   CHEMBL2022248         4
...           ...             ...       ...
135705     Q9Y5Y4   CHEMBL4214909         6
135706     Q9Y5Y4   CHEMBL4218012         2
135707     Q9Y5Y4   CHEMBL4217503         7
135708     Q9Y5Y4   CHEMBL4204359         8
135709     Q9Y5Y4   CHEMBL4209228         6

[135710 rows x 3 columns]

In [8]:
use_case = ACTIVITY_TRAIN[ACTIVITY_TRAIN["uniprot_id"] == "O14842"]

In [60]:
a = find_similar_keys("CHEMBL2022243", threshold=0.1)

In [71]:
sim_mols = set()
for dic in a:
    for k,v in dic.items():
        sim_mols.add(k[1])

sim_mols

{'CHEMBL1829174',
 'CHEMBL2022243',
 'CHEMBL2022244',
 'CHEMBL2022245',
 'CHEMBL2022249',
 'CHEMBL2022250',
 'CHEMBL2022251',
 'CHEMBL2022578',
 'CHEMBL2022579',
 'CHEMBL2022580',
 'CHEMBL2022583',
 'CHEMBL2047159',
 'CHEMBL2047166',
 'CHEMBL2047168',
 'CHEMBL2179472'}

In [62]:
l = set(map(lambda v: v.strip(), use_case["mol_id"].values))
inter = l.intersection(sim_mols)

In [63]:
vs = []
for dic in a:
    for k,v in dic.items():
        if k[1] in inter:
            print(k,v)
            vs.append(v)

('CHEMBL2022243', 'CHEMBL2022244') 0.8148148148148149
('CHEMBL2022243', 'CHEMBL2022245') 0.7951807228915663
('CHEMBL2022243', 'CHEMBL2022249') 0.7283950617283951
('CHEMBL2022243', 'CHEMBL2022250') 0.5531914893617021
('CHEMBL2022243', 'CHEMBL2022251') 0.5106382978723405
('CHEMBL2022243', 'CHEMBL1829174') 0.44545454545454544
('CHEMBL2022243', 'CHEMBL2179472') 0.44545454545454544
('CHEMBL2022243', 'CHEMBL2047159') 0.4414414414414415
('CHEMBL2022243', 'CHEMBL2022580') 0.43518518518518523
('CHEMBL2022243', 'CHEMBL2022579') 0.43518518518518523
('CHEMBL2022243', 'CHEMBL2047166') 0.415929203539823
('CHEMBL2022243', 'CHEMBL2022578') 0.40740740740740744
('CHEMBL2022243', 'CHEMBL2022583') 0.3913043478260869

In [64]:
sum(vs), len(vs)

(6.819582248163039, 13)

In [73]:
um = use_case[use_case["mol_id"] == " CHEMBL2022244"]["activity"].values[0] * vs[0]
dois = use_case[use_case["mol_id"] == " CHEMBL2022245"]["activity"].values[0] * vs[1]
tres = use_case[use_case["mol_id"] == " CHEMBL2022249"]["activity"].values[0] * vs[2]
quatro = use_case[use_case["mol_id"] == " CHEMBL2022250"]["activity"].values[0] * vs[3]
cinco = use_case[use_case["mol_id"] == " CHEMBL2022251"]["activity"].values[0] * vs[4]
seis = use_case[use_case["mol_id"] == " CHEMBL1829174"]["activity"].values[0] * vs[5]
sete = use_case[use_case["mol_id"] == " CHEMBL2179472"]["activity"].values[0] * vs[6]
oito = use_case[use_case["mol_id"] == " CHEMBL2047159"]["activity"].values[0] * vs[7]
nove = use_case[use_case["mol_id"] == " CHEMBL2022580"]["activity"].values[0] * vs[8]
dez = use_case[use_case["mol_id"] == " CHEMBL2022579"]["activity"].values[0] * vs[9]
onze = use_case[use_case["mol_id"] == " CHEMBL2047166"]["activity"].values[0] * vs[10]
doze = use_case[use_case["mol_id"] == " CHEMBL2022578"]["activity"].values[0] * vs[11]
treze = use_case[use_case["mol_id"] == " CHEMBL2022583"]["activity"].values[0] * vs[12]



round(sum([um, dois, tres, quatro, cinco, seis, sete, oito, nove, dez, onze, doze, treze]) / sum(vs))

4